<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>最新ニュースの追加</title>
<!-- ここにスタイルシートのリンクを追加してください（ある場合） -->
<link rel="stylesheet" href="css/addnews.css">
</head>
<body>
<a href="/back" class="btn btn-primary">戻る</a>
<div class="container">
    <div class="oo">
        <h2>最新ニュースの追加</h2>
        <form id="newsForm" method="post" action="/addnews">
            <!-- parentCategories を繰り返し処理し、データをレンダリング -->
            <label for="searchParentCategory">親カテゴリ：</label> <select
                id="searchParentCategory" name="parentCategoryName">
                <option value="">すべて</option>
                <option th:each="parentCategory : ${parentCategoriesWithNewsCount}"
                    th:value="${parentCategory.parentCategoryName}"
                    th:text="${parentCategory.parentCategoryName}"></option>
            </select><br><br>

            <!-- categoriesWithNewsCount を繰り返し処理し、データをレンダリング -->
            <label for="searchCategory">子カテゴリ：</label> <select id="searchCategory"
                name="categoryName">
                <option value="">すべて</option>
                <option th:each="category : ${categoriesWithNewsCount}"
                    th:value="${category.categoryName}"
                    th:text="${category.categoryName}"></option>
            </select><br><br>

            <!-- 日付選択 -->
            <label for="publicTime">日付を選択：</label> <input th:model="${publicTime}" id="publicTime" name="publicTime" type="datetime-local" class="input-field2" required><br><br> <label for="title">タイトル：</label>
            <input th:model="${title}" id="title" name="title" type="text"
                class="input-field2" placeholder="タイトルを入力してください"><br><br> <label
                for="subTitle">サブタイトル：</label> <input th:model="${subTitle}"
                id="subTitle" name="subTitle" type="text" class="input-field2"
                placeholder="サブタイトルを入力してください"><br><br> <label for="content" >内容：</label>
            <textarea th:model="${content}" id="content" name="content"
                class="input-field" placeholder="内容を入力してください（500文字以内）"></textarea>
            <br>

            <div class="pp">
                <button type="submit" class="btn btn-danger">発行</button>
                <button type="button" class="btn btn-primary" onclick="previewNews()">プレビュー</button>
            </div>
            <!-- isPreviewVisible の値を格納するための非表示フィールドを追加 -->
            <input type="hidden" id="isPreviewVisible" name="isPreviewVisible" value="false">
        </form>
    </div>

    <!-- プレビューエリア -->
    <div th:if="${isPreviewVisible}" class="container">
        <div class="oo">
            <h2>ニュースプレビュー</h2>
            <label>親カテゴリ：</label> <span id="previewParentCategory"></span><br>
            <label>子カテゴリ：</label> <span id="previewCategory"></span><br>
            <label>日付を選択：</label> <span id="previewTime"></span><br>
            <label>タイトル：</label> <span id="previewTitle"></span><br>
            <label>サブタイトル：</label> <span id="previewSubTitle"></span><br>
            <label>内容：</label>
            <p id="previewContent"></p>
            <br>
            <button type="submit" class="btn btn-danger" formaction="/back">発行</button>
        </div>
    </div>
</div>

<script src="/js/addnews.js"></script>

</body>
</html>
